:root {
    --accent-color: #b710a1;
    --accent-dark: #3d0435;
    --transition-a: transform 0.5s cubic-bezier(0.39,0.575,0.565,1);
}

* {box-sizing: border-box;}
img {max-width: 100%;}

body {
    margin: 0;
    font-family: "Open Sans",-apple-system,
        "BlinkMacSystemFont","Segoe UI","Roboto",
        "Helvetica","Arial",sans-serif,
        "Apple Color Emoji","Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 18px;
}

h1 {font-size: 7.594rem;}
h2 {font-size: 5.063rem;}
h3 {font-size: 3.375rem;}
h4 {font-size: 2.25rem;}
h4 {font-size: 1.5rem;}

h1,h2,h3,h4,h5,.heading {
    font-weight: 700;
    font-family: "Bree Serif",-apple-system,
    "BlinkMacSystemFont","Segoe UI","Roboto",
    "Helvetica","Arial",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji",
    "Segoe UI Symbol";
}

.container {
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.site-header .inner {
    height: 300px; 
}

.site-header .text-content {
    align-self: center;
    justify-self: center;
    color: var(--accent-color);
}

.site-header .logo {
    color: var(--accent-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.break {
    min-height: 400px;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: 0% 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.break .container {
    max-width: 600px;
}
.break .inner {
    padding: 40px 20px;
}
.break .overlay {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.4));
    width: 100%;
}
.break .inner p {
    color: #fff;
    font-family: 'Dancing Script', sans-serif;
}

.intro-section {
    padding: 40px 0;
}

.intro-section .text-content {
    padding: 40px;
    height: 100%;
    width: 100%;
    background-color: rgba(183,16,161,0.6);
    opacity: 0;
    transition: all 300ms ease-out;
    min-height: 400px;
}

.intro-section .cover {
    overflow: hidden;
    position: relative;
}
.intro-section .container {max-width: 1400px;}
.intro-section .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 1s cubic-bezier(0.2,1,0.8,1);
    margin: 10px;
    text-align: center;
}
.intro-section .inner--item {
    position: relative;
    top: -2rem;
}
.intro-section .inner--item:nth-child(2) {
    top: 0;
}
.intro-section .inner--item:hover .text-content {
    opacity: 1;
}
.intro-section .inner--item:hover {
    cursor: pointer;
}
.intro-section .inner--item .text-content p {
    transition: var(--transition-a);
    transform: translateY(40px);
    color: #fff;
    line-height: 1.6;
}
.intro-section .inner--item:hover .text-content p {
    transform: translateY(0);
}
.intro-section .inner--item .caption h3 {
    transition: all 600ms ease-out;
    margin-top: 10px;
}
.intro-section .inner--item:hover .caption h3 {
    color: var(--accent-color);
    transform: scale3d(0.9,0.9,1) translateY(-1rem);
}
.intro-section .inner--item:hover .cover {
    transform: scale(0.95);
    transition: transform 600ms cubic-bezier(0.2,1,0.8,1);
}
.intro-section .our-boys .cover {
    background-image: url(../images/our-boys.jpg);
}
.intro-section .our-girls .cover {
    background-image: url(../images/our-girls.jpg);
}
.intro-section p {
    line-height: 1.4;
}

.meet-our-kids {
    padding: 40px 0;
    background-color: var(--accent-dark);
    color: #fff;
}
.meet-our-kids p {
    line-height: 1.4;
}

.our-ministry .cover {
    overflow: hidden;
    height: 300px;
    width: calc(100vw / 3);
    position: relative;
    flex: 1;
}
.our-ministry .cover > .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
.our-ministry .inner:nth-child(1) .cover:nth-child(1) > .image { background-image: url(../images/a.jpg); }
.our-ministry .inner:nth-child(1) .cover:nth-child(2) > .image { background-image: url(../images/b.jpg); }
.our-ministry .inner:nth-child(1) .cover:nth-child(3) > .image { background-image: url(../images/c.jpg); }
.our-ministry .inner:nth-child(2) .cover:nth-child(1) > .image { background-image: url(../images/d.jpg); }
.our-ministry .inner:nth-child(2) .cover:nth-child(2) > .image { background-image: url(../images/e.jpg); }
.our-ministry .inner:nth-child(2) .cover:nth-child(3) > .image { background-image: url(../images/f.jpg); }

.make-difference {
    padding: 40px 0;
}

.contact-us {
    background-image: linear-gradient(to bottom, #eee, #dedede);
    padding: 40px 0;
}
.contact-us .text-content {
    flex: 3;
}
.contact-us #address {
    flex: 2;
}
#address {
    background-color: #fff;
    border-radius: 0.222rem;
    padding: 30px 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
#address address {font-style: normal; line-height: 1.4;}
ul {
    padding-left: 0;
}
.medium {
    font-weight: 400;
}

.white {
    color: #fff;
}

.italic {
    font-family: 'Dancing Script', sans-serif;
}

.text--center {
    text-align: center;
}

.micro-margin {
    margin-bottom: 10px;
}
.mini-margin {
    margin-bottom: 20px;
}
.big-margin {
    margin-bottom: 40px;
}
.flush {
    margin: 0;
}
.flex {display: flex;}
.flex-column {flex-direction: column;}
.flex-xcenter {justify-content: center;}
.flex-ycenter {align-items: center;}
.flex-between {justify-content: space-between;}
.flex-around {justify-content: space-around;}
.flex-xreverse {flex-direction: row-reverse;}
.flex-yreverse {flex-direction: column-reverse;}
.flex-wrap {flex-wrap: wrap;}

@media all and (max-width: 600px) {
    .palm-flex-column {
        flex-direction: column;
    }
    .palm-flex-xreverse {
        flex-direction: row-reverse;
    }
    .palm-flex-yreverse {
        flex-direction: column-reverse;
    }
    .our-ministry .cover {
        width: 100vw;
    }
}

@media all and (max-width: 800px) {
    .portable-flex-column {
        flex-direction: column;
    }
}

@media all and (min-width: 600px) {
    .break .inner p {
        font-size: 2.25rem;
        line-height: 1.4;
    }
    #address {
        margin-left: 20px;
    }
}

.cta {
    font-size: 1.5rem;
    color: var(--accent-color);
    text-decoration: none;
    cursor: text;
}

.owl-nav {
    font-size: 6rem;
}
.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    padding: 0 1rem;
    background: rgba(0,0,0,0) !important;
}
.owl-prev:hover {
    background: rgba(0,0,0,0.05) !important;
}
.owl-prev span {
    transition: all 160ms ease-in-out;
    color: rgba(0,0,0,0.05);
    padding: 1rem;
}
.owl-prev:hover span {
    color: rgba(0,0,0,0.1);
}
.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    padding: 0 1rem;
    background: rgba(0,0,0,0) !important;
}
.owl-next:hover {
    background: rgba(0,0,0,0.05) !important;
}
.owl-next span {
    transition: all 160ms ease-in-out;
    color: rgba(0,0,0,0.05);
    padding: 1rem;
}
.owl-next:hover span {
    color: rgba(0,0,0,0.1);
}